{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Me lo pela</title>
  <link rel="shorcut icon" type="image/jpg" href="https://www.listchallenges.com/f/items2020/e414894a-a949-41d6-9977-46603c68336f.jpg">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  {% block content %}{% endblock content %}
  <script src="{% static 'js/functions.js' %}"></script>
</body>
</html>
